env-vars.*
**/*.tfstate*
**/*.out
**/.terraform/*
**/.terraform.*
**/.DS_Store
**/crash.log
**/.csv
private_key.pem
config/terraform.tfvars
config/iam_1.2.tf

cis-iam
cis-monitoring
cis-network
cis-object-storage
cis-tenancy.sh
reports
modules/queries
scripts
reporting

.gitgnore