# Copyright (c) 2020 Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# See https://github.com/oracle/terraform-provider-oci/blob/master/README.md for now to set up these credentials. The following are sample values:
export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1..aaaaaaaaixl3xlrmengaocampeaogim5q2l2pv2qmfithywqhw4tgbvuq"
export TF_VAR_user_ocid="ocid1.user.oc1..aaaaaaaalxqallveu54bidalibertaaaonjyn7mopu2oyy4hqjjducajotaefe"
export TF_VAR_fingerprint="c1:91:24:3f:49:77:68:22:2e:45:80:fg:36:67:45:93"
export TF_VAR_private_key_path="/home/users/myself/private_key.pem"
# If private key is encrypted with a password, provide the password read from a file
export TF_VAR_private_key_password=""